<h1>{{title}}</h1>
<p>Students List {{title}}</p>
<ul>
    <li><a href="/student/horacio">Horacio</a> </li>
    <li><a href="/student/martha">Martha</a> </li>
    <li>Yerim</li>
    <li>Luis</li>
    <li>Matthew</li>
    <li>Guillermo</li>
    <li>David</li>
    <li>Tammy</li>
</ul>
